h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
body{
    font-family: Arial, sans-serif;
}
.box{
    background-color: rgb(186, 229, 255);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Grid Layout */
/* For Col 1 30% 70% */
/* For Col 2 70% 30% */
.layout {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
    /* grid-template-areas:
    "box1 box2"
    "box4 box3"; */
}

/* .box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
} */


.child {
    background-color: rgb(186, 229, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
