h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
body{
    font-family: Arial, sans-serif;
}
.box{
    background-color: rgb(186, 229, 255);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
}

.layout :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
.layout :nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 3;
}
.layout :nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}
.layout :nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
}
.layout :nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 4
}

.child {
    background-color: rgb(186, 229, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
