*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
height: 100%;
width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #9fcce3;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #e39fe0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #9fe3a0;
}
.page2 img{
    width: 450px;
}