#cursor {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: #000;
    padding-bottom: 2px;
}

#main {
    text-align: center;
    margin-top: 50px;
}
/* .car {
    position: relative;
    z-index: 5;
} */
