*{
    margin: 0;
    padding: 0;
}
.header,.footer{
    text-align: center;
    padding: 20px;
    background-color: gray;
}
.profile{
    width: 300px;
    margin: 50px auto;
   /*  border: 1px solid black; */
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}
.profile img{
    width: 50%;
    border-radius: 50%;
}
.name{
    font-size: 2rem;
    text-decoration: underline;
}
.about,.interests{
    padding-top: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}