*{
    margin: 0;
    padding: 0;
}
.parent{
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 33.33% 33.33% 33.33%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:100px 100px 100px 100px;
    /* grid-gap: 10px; */
    column-gap: 10px;
    row-gap: 10px;
    /* gap: 10px; */
}
.header{
    background-color: #f1c40f;
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer{
    background-color: #89d4b9;
/*     grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 /4; /* this is a Shortcut */
}
.sidebar{
    background-color: #3498db;
    grid-column: 1/2;
    grid-row: 2 / 4;
}
.content1{
    background-color: #e74c3c;
    grid-column: 2/4;
    grid-row: 2 / 3;
}
.content2{
    background-color: #2ecc71;
    grid-column: 2/3;
    grid-row: 3/4;
}
.content3{
    background-color: #f39c12;
    grid-column: 3/4;
    grid-row: 3/4;
}