* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
    margin: 20px;
}
body{
    background-color: #111;
}
#box1,#box2,#box3{
    height:150px;
    width: 150px;
    margin: 10px;
}
#box1{
    background-color: crimson;
}
#box2{
    background-color: lightseagreen;
}
#box3{
    background-color: darkorange;
}
