h1{
  text-align: center;
  font-size: 3rem;
}
:root{
  background-color: rgb(15, 15, 15);
  font-family: Arial, Helvetica, sans-serif;
  color: #dedede;

}
table{
  border-collapse: collapse;
  margin: 0 auto;
}
table,th,td{
  border: 1px solid #dedede;
  padding: 10px;
}