* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #111;
    color: #e0e0e0;
}
h1{
    font-size: 3rem;
}
#page1,#page2,#page3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#page1,#page3{
    background-color: #111;
}
#page2 img{
    width: 150px;
    height: 150px;
}