*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
nav{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    align-items: center;
    display: flex;
    margin: 10px;
    gap: 30px;
    font-size: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
.profile{
    width:40px;
}
.search{
    padding: 7px;
    width: 200px;
    border-radius: 5px;
}
@media screen and (max-width:392px) {
    nav ul{
        justify-content: center;
        font-size: 0.9rem;
        gap: 20px;
        flex-wrap: wrap;
    }
}